@font-face
{
	font-family: 'Gotham Pro Light';
	src: url('./fonts/Gotham_Pro/gothampro_light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: 'Gotham Pro';
	src: url('./fonts/Gotham_Pro/gothampro.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Gotham Pro Medium';
	src: url('./fonts/Gotham_Pro/gothampro_medium.ttf');
	font-weight: 400;
	font-style: normal;
}



*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Gotham Pro';
	font-size: 16px;
	background: #fff;
}


.container
{
	max-width: 1280px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 0 10px;
}

/* compare block */
.compare-title
{
	max-width: 1260px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 63px;
}

h1
{
	font-family: 'Gotham Pro Medium';
	font-size: 40px;
	font-weight: 400;
}

.compare-title p
{
	margin: 0 auto;
	max-width: 639px;
	width: 100%;
	margin-top: 49px;
	font-size: 21px;
	line-height: 33px;
}

/* compare-checkouts */
.compare-checkouts
{
	padding-top: 97px;
}

.compare-checkouts .container { padding: 0; }

.compare-category
{
	display: flex;
	justify-content: space-between;
	margin-right: 10px;
}

.compare-category__item
{
	display: flex;
	align-items: center;
	max-width: 167px;
	width: 100%;
	font-size: 14px;
	line-height: 18px;
	color: #383838;
}

.compare-category__item a
{
	display: flex;
	align-items: center;
	color: #383838;
	text-decoration: none;
}

.compare-category__item span { margin-left: 4px; }


h2.compare-category__item
{
	max-width: 250px;
	font-size: 26px;
	line-height: 35px;
	text-align: center;
	justify-content: center;
}

.compare-category__item:nth-child(1)
{
	margin-left: 5px;
	margin-top: 10px;
}

.compare-category__item:last-child
{
	color: #EC0237;
	margin-top: 10px;
}

/* slider */
.compare-slider
{
	margin-top: 20px;
	background-color:  #FAFAFA;
	display: flex;
	justify-content: center;
}

.compare__slider-container
{
	max-width: 1260px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.compare__slider-arrow
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #F5F5F5;
	border: 1px solid #E7E7E7;
	box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.05);
	margin-top: 176px;
	margin-right: 20px;
}

.compare__slider-arrow svg { stroke: #141414; }

.compare__slider-arrow-next
{
	margin-left: 20px;
	padding-left: 6px;
}

.compare__slider-arrow:hover
{
	background-color: #C6003C;
	cursor: pointer;
}

.compare__slider-arrow:hover svg { stroke: #FFFFFF; }

.compare-slider__item
{
	position: relative;
	max-width: 300px;
	max-height: 376px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #FFFFFF;
	border: 1px solid #EBEBEB;
	border-radius: 4px;
	margin-top: 18.5px;
	margin-bottom: 18.5px;
}

.compare-slider__delete
{
	position: absolute;
	top: 20px;
	right: 18px;
	font-size: 13px;
}

.compare-slider__item-photo
{
	margin: 0 auto;
	margin-top: 15px;
}
