@font-face
{
	font-family: 'Gotham Pro Light';
	src: url('./fonts/Gotham_Pro/gothampro_light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: 'Gotham Pro';
	src: url('./fonts/Gotham_Pro/gothampro.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Gotham Pro Medium';
	src: url('./fonts/Gotham_Pro/gothampro_medium.ttf');
	font-weight: 400;
	font-style: normal;
}



*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Gotham Pro';
	font-size: 16px;
	background: #fff;
}


.container
{
	max-width: 1310px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 0 10px;
}

/* checkouts block */

.checkouts__wrap
{
	max-width: 1280px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

section
{
	width: 100%;
	padding: 65px 0;
}

h2
{
	font-family: 'Gotham Pro Medium';
	font-size: 32px;
	font-weight: 400;
}

h3
{
	font-family: 'Gotham Pro Medium';
	font-size: 16px;
	font-weight: 400;
}

.checkouts__list
{
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

li { list-style-type: none; }

.checkout__list-item
{
	max-width: 404px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.checkout__list-item > img
{
	width: 211px;
	height: 346px;
	margin-bottom: 20px;
}

.checkout__list-item > p
{
	margin-top: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
}

/* select block */

.select__wrap
{
	width: 1325px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.select__desc
{
	max-width: 682px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.select__desc > h2
{
	height: 55px;
}

.select__desc > p
{
	margin-top: 4px;
	height: 105px;
	font-size: 14px;
	line-height: 23px;
}

.select__manual
{
	max-width: 570px;
	height: 379px;
	width: 100%;
	margin-left: 80px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.select__manual a
{
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color:  #333333;
	text-decoration: none;
}


.select__manual a:hover
{
	text-decoration-line: underline;
	color: #004BBC;
}

.select__manual-stage
{
	position: relative;
	padding: 25px 0;
	padding-left: 30px;
	border-left: 2px solid #FF0000;
}

.select__manual-stage:after
{

	display: flex;
	background: #ec0235;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: #ffffff;
	font-size: 14px;
	line-height: 23px;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 15px;
	left: -18px;
}

.select__manual-stage-01:after {content: '01';}
.select__manual-stage-02:after {content: '02';}
.select__manual-stage-03:after {content: '03';}
.select__manual-stage-04:after {content: '04';}
.select__manual-stage-05:after {content: '05';}

/* parallax block */

.padding { padding: 35px 0 45px; }

/* advantage block */
.advantage
{
	background: #FAFAFA;
	padding: 110px 0;
}

.advantage__wrap
{
	max-width: 1285px;
	width: 100%;
}

.advantage__list
{
	margin-top: 80px;
	display: flex;
	flex-wrap: wrap;
	gap: 85px;
}

.advantage__list-item
{
	max-width: 371px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.advantage__list-item > h3
{
	margin-top: 43px;
	font-size: 20px;
}

.advantage__list-item > p
{
	margin-top: 43px;
	font-size: 18px;
	line-height: 25px;
}

.advantage__list-item-short {max-width: 349px;}

/* cost block */

.cost {text-align: center;}

.cost h2
{
	height: 59px;
	margin-top: 33px;
}

.cost p
{
	margin: auto;
	margin-top: 19px;
	max-width: 619px;
	width: 100%;
	line-height: 25px;
}

.cost__images
{
	margin: auto;
	max-width: 1120px;
	margin-top: 68px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cost__images-wrap { display: inline; }

.cost__btn
{
	margin: auto;
	display: block;
	text-decoration: none;
	font-weight: 600;
	margin-top: 111px;
	margin-bottom: 45px;
	padding-top: 18px;
	padding-bottom: 25px;
	max-width: 441px;
	width: 100%;
	background: #E3143A;
	color: #fff;
	font-size: 22px;
	text-align: center;
	border: none;
	cursor: pointer;
}

/* profit block */
.profit
{
	background: #FAFAFA;
	padding: 92px 0;
}

.profit__wrap
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profit__program
{
	max-width: 826px;
	width: 100%;
}

.profit__program > h2
{
	max-width: 687px;
	width: 100%;
	line-height: 42px;
	margin-bottom: 35px;
}

.profit__program > p
{
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 27px;
}

.profit__btn
{
	margin: auto;
	display: inline-block;
	text-decoration: none;
	font-weight: 600;
	margin-top: 20px;
	margin-right: 27px;
	padding-top: 20px;
	padding-bottom: 23px;
	width: 317px;
	background: #E3143A;
	color: #fff;
	font-size: 22px;
	text-align: center;
	border: none;
	cursor: pointer;
}

.profit__btn-license
{
	background: #FAFAFA;
	border: 1px solid #E3143A;
	color: #292D38;
}

/* findout block */

.findout { padding: 116px 0 158px;}

.findout__blocks
{
	margin-top: 46px;
	display: flex;
	justify-content: space-between;
}

.findout__block
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 345px;
	width: 100%;
}

.findout__block img
{
	max-width: 345px;
	width: 100%;
	margin-bottom: 13px;
}

.findout__block img:first-child { margin-bottom: 10px; }


.findout a
{
	font-family: 'Gotham Pro Light';
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}

.findout a:hover {text-decoration: underline;}

@media (max-width: 1325px)
{
	section { padding: 30px 0; }
	h2 { text-align: center; }
	.select__wrap
	{
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
	}

	.select__manual
	{
		margin-left: 20px;
	}

	.padding { width: 100%; }

	.checkouts__list
	{
		justify-content: center;
		gap: 40px;
	}

	.advantage { padding: 50px 0; }

	.advantage__list
	{
		justify-content: center;
		gap: 40px;
	}

	.cost__images
	{
		justify-content: center;
		gap: 40px;
	}

	.cost__images-wrap
	{
		display: block;
		width: 100%;
	}

	.profit { padding: 80px 0; }

	.profit__wrap
	{
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
	}

	.profit__btn { width: 100%; }

	.findout { padding: 80px 0; }
	.findout__blocks
	{
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
	}

}

@media (max-width: 375px)
{
	.cost__wrap span { display: none; }
}
